* {
    font-family: 'open sans', sans-serif;
}

p, li {
    line-height: 1.5;
}

/* .navbar {
    background-color: #4b4b4b;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    color: #e8e8e8;
    margin: 0px;
    padding: 1px;
} */

.backbutton {
    font-size: 16px;
    background-color: #4b4b4b;
    color: #e8e8e8;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    padding: 12px 18px;
    position: sticky;
    top: 8px;
    left: 8px;
    float: left;
    z-index: 2;
    opacity: 0.9;
}

.backbutton:hover {
    opacity: 0.7;
}

.backtext {
    display: none;
}

.image1 {
    background: url(../../assets/images/shoe-hang.jpg);
}

.image2 {
    background: url(../../assets/images/montenegro-climb.jpg);
    background-position: bottom right !important;
}

.image3 {
    background: url(../../assets/images/pamukkale-climb.jpg);
}

.image4 {
    background: url(../../assets/images/croatia-walls.jpg);
}

.parallaxdiv {
    background-position: center;
    background-color: lightgrey;
    min-height: 480px;
    width: 100%;
    background-size: cover;
    position: relative;
}

.textblock {
    font-size: 16px;
    width: 100%;
    position: absolute;
    top: 15%;
    background-color: #4b4b4b;
    padding: 0 24px;
    color: #e8e8e8;
    box-shadow: 2px 2px 8px 2px #474747;
    opacity: 0.9;
    box-sizing: border-box;
}

.textblocklow {
    top: 50%;
}

.textblock a {
    font-weight: 700;
    color: #76abe9;
}

.textblock a:visited {
    color: #9672c4;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.contentblock {
    padding: 12px 18px;
    background-color: #fcfcfc;
}

.contentblock li {
    font-size: 14px;
}

.contentblock p, .contentblock h1, .contentblock h2, .contentblock h3, .contentblockh4, .contentblock h5, .contentblock h6, .contentblock li {
    color: #353535;
}

.jobblock {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 16px;
}

.skillblock {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 12px;
}

.schoolblock, .projectblock {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 12px 24px;
    text-align: center;
}

.techicon {
    width: 36px;
    height: 36px;
    margin: 8px;
    opacity: 0.4;
    /* transition: transform 0.1s; */
}

.techicon:hover {
    opacity: 0.8;
    /* transform: scale(1.3); */
}

@media only screen and (min-width: 480px) {
    .skillblock {width: 50%}
    .textblock {max-width: 300px}
    .textblockleft {left: 10%}
    .textblockright {right: 10%}
    .textblocklow {top: 15%}
}

@media only screen and (min-width: 768px) {
    .backtext {display: block}
    .backbracket {display: none}
    .jobblock {width: 50%}
    .skillblock {width: 25%}
    .schoolblock {width: 50%}
    .textblock {top: 25%}
    .parallaxdiv {
        background-attachment: fixed;
        min-height: 640px;
    }
}

@media only screen and (min-width: 1024px) {
    .jobblock {width: 33%}
    .projectblock {width: 50%}
}
