<div @fade>

    <!-- <div class="navbar"> -->
        <button class="backbutton" [routerLink]="['/']"><b><span class="backtext">BACK</span><span class="backbracket"><</span></b></button>
        <!-- <h3 class="titletext">Eytan Levy's time-traveling portfolio: Minimal</h3> -->
    <!-- </div> -->

    <div class="parallaxdiv image1">
        <div class="textblock textblockright">
            <h3 style="text-align: center;">Intro:</h3>
            <p>{{data.intro}}</p>
        </div>
    </div>

    <div class="contentblock">
        <h2 style="text-align: center;">- Professional Experience -</h2>
        <div class="jobblock" *ngFor="let job of data.experience">
            <div *ngIf="job.title != 'Miscellaneous'">
                <h3 style="text-align: center;">{{job.title}}</h3>
                <p style="text-align: center;">{{job.organization}}, {{job.dates}}</p>
                <p>{{job.description}}</p>
                <ul>
                    <li *ngFor="let skill of job.skills">{{skill}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="parallaxdiv image2">
        <div class="textblock textblockleft">
            <h3 style="text-align: center;">Interests and extracurriculars:</h3>
            <ul>
                <li *ngFor="let interest of data.interests">{{interest}}</li>
            </ul>
        </div>
    </div>

    <div class="contentblock">
        <h2 style="text-align: center;">- Educational History -</h2>
        <div class="schoolblock" *ngFor="let school of data.education">
            <h3>{{school.school}}</h3>
            <p>{{school.degree}} ({{school.dates}})</p>
        </div>
    </div>

    <div class="parallaxdiv image3">
        <div class="textblock textblockright">
            <h3 style="text-align: center;">References</h3>
            <p>(coming soon!)</p>
        </div>
    </div>

    <div class="contentblock">
        <h2 style="text-align: center;">- Coding Skills -</h2>
        <div class="skillblock" *ngFor="let skill of data.skills">
            <h3 style="text-align: center;">{{skill.name}}:</h3>
            <ul>
                <li *ngFor="let technology of skill.technologies">{{technology}}</li>
            </ul>
        </div>
    </div>

    <div class="parallaxdiv image4">
        <div class="textblock textblockleft" style="text-align: center;">
            <h3>Contact info:</h3>
            <p *ngFor="let site of data.contact"><a href="{{site.url}}" target="_blank">{{site.site}}</a></p>
            <p><a href="mailto:{{data.email}}">Email</a></p>
        </div>
    </div>

    <div class="contentblock">
        <h2 style="text-align: center;">- Projects -</h2>
        <div class="projectblock" *ngFor="let project of data.projects">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <video width="100%" controls>
                <source src="{{project.video}}" type="video/mp4">
            </video>
            <h4>Technologies used:</h4>
            <img *ngFor="let technology of project.technologies" class="techicon" src="{{technology.url}}" alt="{{technology.name}}" title="{{technology.name}}" />
            <p><a href="{{project.repository}}" target="_blank">Repository</a></p>
            <br />
            <br />
        </div>
    </div>

</div>
