<div class="backdrop" @fade>

    <div id="loadingbay">
        <p class="lightgreen">Loading...</p>
        <div id="loadingchamber">
            <div id="loadingbar">
            </div>
        </div>
    </div>

    <div id="content">

        <div class="menu">
            <div class="titlediv">
                <p class="subtitle darkcyan">**** <span class="lightgreen">Eytan Levy's Time-Traveling Portfolio</span> ****</p>
            </div>
            <p class="subtitle"><span class="tan">Menu commands:</span> Press <span class="antiquewhite">[<span class="darkcyan">KEY</span>]</span></p>
            <div class="inline-block menucommands">
                <p (click)="introDisplay()"><span class="antiquewhite">[<span class="darkcyan">I</span>]</span>ntro</p>
                <p (click)="experienceDisplay()">E<span class="antiquewhite">[<span class="darkcyan">X</span>]</span>perience</p>
                <p (click)="educationDisplay()"><span class="antiquewhite">[<span class="darkcyan">E</span>]</span>ducation</p>
                <p (click)="skillsDisplay()"><span class="antiquewhite">[<span class="darkcyan">S</span>]</span>kills</p>
            </div>
            <div class="inline-block menucommands">
                <p (click)="interestsDisplay()">I<span class="antiquewhite">[<span class="darkcyan">N</span>]</span>terests</p>
                <p (click)="contactDisplay()"><span class="antiquewhite">[<span class="darkcyan">C</span>]</span>ontact</p>
                <p (click)="projectDisplay()"><span class="antiquewhite">[<span class="darkcyan">P</span>]</span>rojects</p>
            </div>
            <p class="subtitle" (click)="escapeBack()"><span class="antiquewhite">[<span class="darkcyan">Esc</span>]</span>ape back to homepage</p>
        </div>
        <br />


        <div class="subsection" id="intro">
            <p class="subtitle darkcyan">*******************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">INTRO</span> ******</p>
            <p class="subtitle darkcyan">*******************</p>
            <br />
            <p>{{data.intro}}</p>
        </div>


        <div class="subsection" id="experience">
            <p class="subtitle darkcyan">************************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">EXPERIENCE</span> ******</p>
            <p class="subtitle darkcyan">************************</p>
            <br />
            <div *ngFor="let job of data.experience">
                <p><span class="tan">{{job.title}}</span><span *ngIf="job.organization"> <span class="darkcyan"> ({{job.organization}})</span> - {{job.dates}}</span></p>
                <br />
                <p>{{job.description}}</p>
                <br />
                <p *ngIf="job.skills" class="darkcyan">Skills used:</p>
                <p *ngFor="let skill of job.skills" class="indent">- {{skill}}</p>
                <br />
                <p class="darkcyan">************************************</p>
                <br />
            </div>
        </div>


        <div class="subsection" id="education">
            <p class="subtitle darkcyan">***********************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">EDUCATION</span> ******</p>
            <p class="subtitle darkcyan">***********************</p>
            <br />
            <div *ngFor='let school of data.education'>
                <p><span class="tan">{{school.school}}</span> - {{school.dates}}</p>
                <p>{{school.degree}}</p>
                <br />
                <p class="darkcyan">************************************</p>
                <br />
            </div>
        </div>


        <div class="subsection" id="skills">
            <p class="subtitle darkcyan">********************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">SKILLS</span> ******</p>
            <p class="subtitle darkcyan">********************</p>
            <br />
            <div *ngFor="let skill of data.skills">
                <p class="tan">{{skill.name}}:</p>
                <br />
                <p *ngFor="let technology of skill.technologies" class="indent">- {{technology}}</p>
                <br />
                <p class="darkcyan">************************************</p>
                <br />
            </div>
        </div>


        <div class="subsection" id="interests">
            <p class="subtitle darkcyan">***********************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">INTERESTS</span> ******</p>
            <p class="subtitle darkcyan">***********************</p>
            <br />
            <p *ngFor="let interest of data.interests">- {{interest}}</p>
        </div>


        <div class="subsection" id="contact">
            <p class="subtitle darkcyan">**************************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">CONTACT INFO</span> ******</p>
            <p class="subtitle darkcyan">**************************</p>
            <br />
            <div *ngFor="let contact of data.contact">
                <p><span class="tan">{{contact.site}}: </span><a href="{{contact.url}}" target="_blank">{{contact.url}}</a></p>
            </div>
            <p><span class="tan">Email: </span><a href="mailto:{{data.email}}">{{data.email}}</a></p>
        </div>

        <div class="subsection" id="projects">
            <p class="subtitle darkcyan">**********************</p>
            <p class="subtitle darkcyan">****** <span class="lightgreen">PROJECTS</span> ******</p>
            <p class="subtitle darkcyan">**********************</p>
            <br />
            <div *ngFor="let project of data.projects">
                <p class="tan">{{project.name}}:</p>
                <br />
                <p>{{project.description}}</p>
                <br />
                <p class="darkcyan">Technologies used:</p>
                <p *ngFor="let technology of project.technologies" class="indent">- {{technology.name}}</p>
                <br />
                <p *ngIf="project.url != ''"><span class="tan">Site URL: </span><a href="{{project.url}}" target="_blank">{{project.url}}</a></p>
                <p><span class="tan">Repository: </span><a href="{{project.repository}}" target="_blank">{{project.repository}}</a></p>
                <p><span class="tan">Video Demo: </span><a href="{{project.video}}" target="_blank">{{project.video.slice(2,project.video.length)}}</a></p>
                <br />
                <p class="darkcyan">************************************</p>
                <br />
            </div>
        </div>

        <br />
        <p class="darkcyan inline-block">COMMAND <span class="antiquewhite"> > </span></p><div id="cursor"></div>

    </div>

</div>
