* {
    margin: 0px;
}

.backdrop {
    background-image: url(../../assets/images/corfu-beach.jpg);;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 12%;
}

.titleblock {
    padding: 24px;
    margin: 0 auto;
    background-color: hsla(0, 0%, 25%, 0.7);
    width: 50%;
    color: #e8e8e8;
    box-shadow: 0 0 10px 8px hsla(0, 0%, 25%, 0.7);
}

p, h1,h2,h3,h4,h5,h6 {
    font-family: 'open sans', sans-serif;
    text-align: center;
}

.buttondiv {
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#terminal {
    background-color: #d1cbbc;
    border: 6px solid #a8a497;
    border-radius: 6px;
    border-style: outset;
    font-family: courier;
    font-size: 18px;
    padding: 10px;
    margin: 12px;
}

#minimal {
    background-color: #313131;
    border: none;
    color: #e8e8e8;
    font-family: 'open sans';
    padding: 14px;
    margin: 12px;
    box-shadow: 1px 1px 12px 2px #313131;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 700;
}

#minimal:hover {
    opacity: 0.6;
}